.product {
  display: inline-flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 180px;
  width: 100%;
}

.product_name {
  font-size: 20px;
  font-weight: bold;
}

.product_img {
  font-size: 50px;
}

.product_price {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}

button {
  padding: 10px;
}
